.side-nav {
    box-shadow: 5px 0px 5px -4px rgba(46, 92, 131, 0.25);
    color: #2e5c83;
}

.side-nav a {
    display: block;
    padding: 12px 0;
    padding-left: 16px;
    font-weight: 700;
    box-shadow: -1px 3px 5px -3px rgba(46, 92, 131, 0.25);
}

.side-nav a.active {
    background: #2e5c83;
    color: #fff;
    box-shadow: -8px -8px 5px -6px rgba(214, 230, 238, 0.35) inset;
}